.inner {
    margin: 10px auto;
    width: 93%;
    display: flex;
    justify-content: space-around;
}

.column-1 {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 0px 0px 12px 0px;
    ul {
        background: #fff;
    }
    h4 {
        padding: 10px 0px 12px 10px;
        background: #fff;
    }
    li {
        list-style: none;
        line-height: 150%;
        padding: 0px 0px 12px 10px;
    }

    #icons {
        color: #0a68ff;
        padding-right: 10px;
    }
}

.column-2 {
    background-color: #fff;
    width: 580px;
    padding: 10px 0px 12px 10px;
    #icon-star {
        color: #ffc400;
        padding-right: 5px;
    }
    span {
        padding-right: 5px;
    }
    #price-product {
        font-weight: 800;
        font-size: 25px;
    }
    h4 {
        font-size: 20px;
    }
    h1 {
        margin: 0px;
        color: rgb(39, 39, 42);
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        word-break: break-word;
        white-space: break-spaces;
    }
}

.des {
    width: 570px;
    img {
        width: 100%;
    }
    p {
        width: 96%;
        text-align: justify;
        padding-left: 10px;
        line-height: 200%;
        padding-top: 10px;
    }
}

.column-3 {
    width: 360px;
    height: 400px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 10px;
    .quantity {
        h4 {
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            margin: 0px;
        }
        button,
        span {
            width: 35px;
            border: 1px solid #ccc;
            background: none;
            text-align: center;
        }
        .test {
            display: flex;
            gap: 10px;
        }
    }
    .price-product {
        span {
            font-size: 25px;
            font-weight: 800;
        }
    }
}

.btn-buy {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
    button {
        border: none;
        background-color: none;
        height: 40px;
        border-radius: 5px;
        background: none;
    }
    #btn-1 {
        background-color: #ff424e;
        color: white;
    }
    #btn-2 {
        border: 1px solid #0a68ff;
        color: #0a68ff;
    }
}

@media only screen and (max-width: 600px) {
    .inner {
        flex-direction: column;
        margin: 70px auto;
    }
    .des,
    .column-2,
    .column-1 {
        width: 100%;
    }
}
